@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
  user-select: none;
  outline: none;
}

body {
  height: 100vh;
  background-color: #1A1A1A;
}

.title-container {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0D0D0D;
}

.title-container h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-container h1 svg {
  margin-top: 12px;
}

.title-container h1 span {
  font-size: 40px;
  font-weight: 900;
  margin-bottom: auto;
}

.to {
  color: #4EA8DE;
  margin-left: 8px;
}

.do {
  color: #5E60CE;
}

.input-container {
  width: 736px;
  height: 54px;
  display: flex;
  gap: 8px;
  position: absolute;
  top: 173px;
  left: 50%;
  transform: translateX(-50%);
}

.input-container input::placeholder {
  color: #808080;
  font-weight: 400;
  font-size: 16px;
}

.input-container input {
  width: 638px;
  height: 100%;
  padding: 16px;
  border-radius: 8px;
  background-color: #262626;
  border: none;
  caret-color: #F2F2F2;
  transition: all .3s ease-in-out;
  color: #F2F2F2;
}

.input-container input:focus {
  color: #F2F2F2;
  border: 2px solid #5E60CE;
}

.input-container button {
  width: 100px;
  height: 100%;
  padding: 16px;
  gap: 8px;
  color: #F2F2F2;
  font-weight: 700;
  background-color: #1E6F9F;
  border-radius: 8px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .3s ease-in-out;
  cursor: pointer;
}

.input-container button:hover {
  background-color: #4EA8DE;
}

.tasks-container {
  width: 736px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 291px;
  color: #F2F2F2;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.tasks-info-wrapper {
  display: flex;
  justify-content: space-between;
}

.tasks-info-wrapper div {
  display: flex;
  align-items: center;
  gap: 8px;
}

.tasks-info-wrapper div:nth-child(1) h3 {
  color: #4EA8DE;
  font-weight: 700;
}

.tasks-info-wrapper div:nth-child(2) h3 {
  color: #5E60CE;
  font-weight: 700;
}

.tasks-info-wrapper div div {
  padding: 2px 8px;
  background-color: #333333;
  border-radius: 999px;
  color: #D9D9D9;
  font-weight: 700;
}

.tasks-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.task-wrapper {
  display: flex;
  gap: 12px;
  padding: 16px;
  background-color: #262626;
  border-radius: 8px;
  transition: all .3s ease-in-out;
}

.task-wrapper input[type="checkbox"] {
  margin-bottom: auto;
  border-radius: 50%;
  border: 2px solid #4EA8DE;
  background-color: transparent;
  width: 20px; /* Adjust size */
  height: 20px; /* Adjust size */
  appearance: none; /* Remove default checkbox styling */
  position: relative;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.task-wrapper input[type="checkbox"]:hover {
  background-color: #1e709f80;
  border-color: #1E6F9F;
}

.task-wrapper input[type="checkbox"]:checked:hover {
  background-color: #8284FA;
  border-color: #8284FA;
}

.task-wrapper input[type="checkbox"]:checked {
  border-color: #5E60CE;
  background-color: #5E60CE;
}

.task-wrapper input[type="checkbox"]:checked::before {
  content: '✔';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px;
  color: #f2f2f2;
}

.checkbox:checked + .task {
  text-decoration: line-through;
  color: #808080;
}

.task-wrapper p {
  font-weight: 400;
  font-size: 14px;
  color: #f2f2f2;
  line-height: 140%;
  transition: all .3s ease-in-out;
  user-select: text;
}

.task-wrapper button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-left: auto;
  margin-bottom: auto;
  transition: all .3s ease-in-out;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  color: #808080;
}

.task-wrapper button:hover {
  background-color: #333333;
  color: #E25858;
  fill: #E25858;
}

.delete-task {
  animation: fadeOut 0.5s forwards;
}

@keyframes fadeOut {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}